@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --primary-color: #3eb489;
  --secondary-color: #fff;
  --light-additional-color: #d8d8d8;
  --dark-additional-color: #2b2b2b;

  --font-size-s: 16px;
  --font-size-m: 22px;
  --font-size-l: 30px;

  --font: var(--font-size-s) 'Inter';
}